.body {
    background-color: #f4f4f4;
    background-image: url(https://cdn.jsdelivr.net/gh/imsyy/file/pic/email-pattern.png) !important;
    background-attachment: fixed;
    background-size: auto;
    background-repeat: inherit;
} 